<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= category %> Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1><%= category %> Menu</h1>
  <ul>
    <% items.forEach(item => { %>
      <li>
        <a href="/menu/<%= item.id %>">
          <strong><%= item.name %></strong> - <%= item.price %> - Rating: <%= item.rating %><br>
          <em><%= item.details %></em>
        </a>
      </li>
    <% }); %>
  </ul>
</body>
</html>
